<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				Contact Person</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>
					<table class="table table-bordered ">

						<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="streetNumber"
									for="streetNumber" /></td>
							<td><h:inputText id="streetNumber"
									value="#{contact.streetNumber}" title="streetNumber"
									required="true"
									requiredMessage="Please enter the street number!"
									validatorMessage="Please enter a street number between 1 and 1000"
									converterMessage="Please enter a number" pt:placeholder="900">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="1000" />
								</h:inputText> <br /> <h:message for="streetNumber"
									class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="streetAddress" for="streetAddress" />
							</td>
							<td><h:inputText id="streetAddress"
									value="#{contact.streetAddress}" title="streetAddress"
									required="true"
									requiredMessage="Please enter the street address!"
									pt:placeholder="Dandenong Rd" /> <br /> <h:message
									for="streetAddress"
									class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>

						<tr class="#{!suburb.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="suburb" for="suburb" /></td>
							<td><h:inputText id="suburb" value="#{contact.suburb}"
									title="suburb" required="true"
									requiredMessage="Please enter the suburb!"
									pt:placeholder="Caulfield East" /> <br /> <h:message
									for="suburb"
									class="#{!suburb.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!state.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="state" for="state" /></td>
							<td><h:inputText id="state" value="#{contact.state}"
									title="state" size="3" required="true"
									requiredMessage="Please enter the state!" pt:placeholder="VIC" />
								<br /> <h:message for="state"
									class="#{!state.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!postcode.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="postcode" for="postcode" /></td>
							<td><h:inputText id="postcode" value="#{contact.postcode}"
									title="postcode" required="true"
									requiredMessage="Please enter the postcode!"
									validatorMessage="Please enter a postcode between 0200 and 4700"
									converterMessage="Please enter a number" pt:placeholder="3145">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="200" maximum="4700" />
								</h:inputText> <br /> <h:message for="postcode"
									class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>
						<tr class="#{!name.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Name" for="name" /></td>
							<td><h:inputText id="name" value="#{contact.name}"
									title="Name" required="true"
									requiredMessage="Please enter the name!" pt:placeholder="ABC" />
								<br /> <h:message for="name"
									class="#{!name.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!gender.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Gender" for="gender" /></td>
							<td><h:inputText id="gender" value="#{contact.gender}"
									title="Gender" required="true"
									requiredMessage="Please enter the gender!" pt:placeholder="M" />
								<br /> <h:message for="gender"
									class="#{!gender.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!phoneNumber.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="PhoneNumber:"
									for="phoneNumber" /></td>
							<td><h:inputText id="phoneNumber"
									value="#{contact.phoneNumber}" title="PhoneNumber"
									required="true"
									requiredMessage="Please enter the Phone Number!"
									validatorMessage="Invalide Phone Number"
									converterMessage="Please enter a Phone number" pt:placeholder="432657716">
									<f:validateLength minimum="9" maximum = "14" />
								</h:inputText> <br /> <h:message for="phoneNumber"
									class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!email.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Email" for="email" /></td>
							<td><h:inputText id="email" value="#{contact.email}"
									title="Email" required="true"
									requiredMessage="Please enter the email!"
									pt:placeholder="ABC@gmail.com" 
									validatorMessage="Invalide Email">
							<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></h:inputText> <br /> <h:message
									for="email"
									class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						
						<tr>
							<td><h:outputLabel value="User ID:"
									for="userid" /></td>
							<td><h:inputText id="userid"
									value="#{contact.userId}" title="UserId"
									required="true"
									requiredMessage="Please enter the User ID!"
									validatorMessage="User Id must be number"
									converterMessage="Please enter a number" pt:placeholder="1">
									<f:validateLongRange minimum="1" />
								</h:inputText> <br /> <h:message for="userid"
									class="#{!userid.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						
						<tr>
							<td><h:outputLabel value="Customer:" for="customer" /></td>
							<td>
                            <h:selectOneMenu id="customer" value="#{contactManagedBean.name}">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{contactManagedBean.allCustomers}" var="c"  
                                               itemLabel="#{c.toString()}" itemValue="#{c}" />
                            </h:selectOneMenu>
                        </td>
						</tr>
						
					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addContact.addContact(contact)}"
						class="btn btn-primary" />
					<h:link id="close" value="Close" outcome="Contact.xhtml"
						class="btn btn-primary" />

				</h:form>

			</f:view>
		</div>
	</div>

</h:body>
</html>
