<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
	<ui:include src="/admin/navigation.xhtml">
	</ui:include>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Contact Person List
                </div>
            </div>
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            <td>
                                <h:outputLabel id="Email" value="Email"  />
                            </td>

                            <td>
                                <h:outputLabel id="Address" value="Address"/>
                            </td>

                      </tr>

                    <ui:repeat id="Myrepeat" value="#{contactApplication.contacts}"  var="contact" varStatus="status">

                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
                            <td>
                                <h:outputText value="#{contactApplication.contacts.get(status.index).conactPersonId}" id="contactID" />

                            </td>
                            <td>
                                <h:outputText id="outName" value="#{contactApplication.contacts.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outEmail" value="#{contactApplication.contacts.get(status.index).email}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{contactApplication.contacts.get(status.index).address}"></h:outputText>
                            </td>
                            <td>
                              <h:link value="View | " outcome="Cdetail.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="contactID" value="#{contactApplication.contacts.get(status.index).conactPersonId}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="Cedit.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="contactID" value="#{contactApplication.contacts.get(status.index).conactPersonId}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{removeContact.removeContact(contactApplication.contacts.get(status.index).conactPersonId)}" disabled="#{contactApplication.contacts.get(status.index).conactPersonId == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>
                  
                </table>
                
                  <div>
                  
                    <h:commandButton id="add" value="Add" action="Cadd.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchContact.searchAll()}" class="btn btn-primary" >
                        <f:param name="contactID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                 <div>
                         <h:selectOneMenu id="contact" value="#{searchContact.customerId}" >
                        <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        <f:selectItems value="#{contactManagedBean.allCustomers}" var="c"  
                                       itemLabel="#{c.customerId}" itemValue="#{c.customerId}" />
                         </h:selectOneMenu>
                    <h:commandButton id="searchByCstomer" value="Search by Customer" action="#{searchContact.searchContactByCustomerId(searchContact.customerId)}" class="btn btn-primary" >
                        <f:param name="contactID" value="#{status.index + 1}"/>
                    </h:commandButton>
                 </div>
            </h:form>
        </div>
    </h:body>
</html>
