<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
     <meta http-equiv="pragma" content="no-cache"/>
     <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
       <meta http-equiv="expires" content="0"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
	<ui:include src="/admin/navigation.xhtml">
	</ui:include>
    <h:body >
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
            </div>
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            <td>
                                <h:outputLabel id="Email" value="Email"  />
                            </td>

                            <td>
                                <h:outputLabel id="Address" value="Address"/>
                            </td>

                      </tr>

                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status">

                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerID" />

                            </td>
                            <td>
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outEmail" value="#{customerApplication.customers.get(status.index).email}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"></h:outputText>
                            </td>
                             <h:outputLabel id = "c" >#{searchContact.searchContactByCustomerId(customerApplication.customers.get(status.index).customerId)}</h:outputLabel>
                              <h:outputLabel id = "d" >#{searchContact.searchAll()}</h:outputLabel>
                            <td>
                              <h:link value="View | " outcome="detail.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerID" value="#{customerApplication.customers.get(status.index).customerId}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="edit.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerID" value="#{customerApplication.customers.get(status.index).customerId}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                     <h:selectOneMenu id="customer" value="#{searchCustomer.searchByInt}">
                        <f:selectItems value="#{customerManagedBean.allCustomers}" var="c"  
                                       itemLabel="#{c.customerId}" itemValue="#{c.customerId}" />
                         </h:selectOneMenu>
                    <h:commandButton id="searchByCstomer" value="Search by Customer ID" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
            </h:form>
        </div>
    </h:body>
</html>