<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
	<meta http-equiv="expires" content="0" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body onload="#{searchContact.searchAll()}">
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} -
				Customer Details</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{customerController.customer.customerId}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Name:</td>

					<td valign="bottom"><h:outputLabel id="Name">#{customerController.customer.name}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">TypeOfIndustry:</td>

					<td valign="bottom"><h:outputLabel id="Type">#{customerController.customer.typeOfIndustry}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">UserType:</td>

					<td valign="bottom"><h:outputLabel id="UserType">#{customerController.customer.userType}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Email:</td>

					<td valign="bottom"><h:outputLabel id="Email">#{customerController.customer.email}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">NumOfOrder:</td>

					<td valign="bottom"><h:outputLabel id="NumOfOrder">#{customerController.customer.numberOfOrders}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Address:</td>

					<td valign="bottom"><h:outputLabel id="Address">#{customerController.customer.address}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Staff ID:</td>

					<td valign="bottom"><h:outputLabel id="StaffId">#{customerController.customer.userId}</h:outputLabel>
					</td>
				</tr>

			</table>
			<tr>
				<td><h:outputLabel id="ctitle" value="Contact Person:" /></td>
			</tr>
			<table class="table table-bordered table-striped">
				<!-- For each contact in contactPerson ArrayList... -->
				<tr>
					<td><h:outputLabel id="cId" value="Id" /></td>
					<td><h:outputLabel id="cname" value="Contact Name" /></td>
					<td><h:outputLabel id="cphone" value="Contact phone" /></td>
					<td><h:outputLabel id="cAddress" value="Contact Address" /></td>

				</tr>
				<ui:repeat id="Myrepeat"
					value="#{customerController.customer.contactPerson}"
					var="contactPerson" varStatus="status">
					<tr>
						<td><h:outputText value="#{contactPerson.conactPersonId}"
								id="contactID" /></td>

						<td><h:outputText id="contactName"
								value="#{contactPerson.name}" /></td>
						<td><h:outputText id="PhoneNumber"
								value="#{contactPerson.phoneNumber}"></h:outputText></td>
						<td><h:outputText id="Address"
								value="#{contactPerson.address}"></h:outputText></td>

						<td><h:link value="View  " outcome="Cdetail.xhtml">
								<!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
								<f:param name="contactID"
									value="#{contactPerson.conactPersonId}" />
							</h:link></td>
					</tr>
				</ui:repeat>
			</table>
			<a href="javascript:history.go(-1);">Close</a>

		</h:form>
	</div>
</h:body>
</html>
