<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Edit
				Customer</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">

				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{customerController.customer.customerId}</h:outputLabel>
					</td>
				</tr>
				<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Street Number:</td>

					<td valign="bottom"><h:inputText id="streetNumber"
							value="#{customerController.customer.address.streetNumber}"
							binding="#{streetNumber}" required="true"
							requiredMessage="Please enter the street number!"
							validatorMessage="Please enter a street number between 1 and 1000"
							converterMessage="Please enter a street number">
							<f:convertNumber integerOnly="true" />
							<f:validateLongRange minimum="1" maximum="1000" />
						</h:inputText><br /> <h:message for="streetNumber"
							class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Street Address:</td>

					<td valign="bottom"><h:inputText id="streetAddress"
							value="#{customerController.customer.address.streetAddress}"
							binding="#{streetAddress}" required="true"
							requiredMessage="Please enter Street Address! "></h:inputText><br />
						<h:message for="streetAddress"
							class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!state.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">State:</td>

					<td valign="bottom"><h:inputText id="state"
							value="#{customerController.customer.address.state}"
							binding="#{state}" required="true"
							requiredMessage="Please enter state. "></h:inputText><br /> <h:message
							for="states"
							class="#{!state.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!suburb.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Suburb:</td>

					<td valign="bottom"><h:inputText id="suburb"
							value="#{customerController.customer.address.suburb}"
							binding="#{suburb}" required="true"
							requiredMessage="Please enter suburb. "></h:inputText><br /> <h:message
							for="suburb"
							class="#{!suburb.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!postcode.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Postcode:</td>

					<td valign="bottom"><h:inputText id="postcode"
							value="#{customerController.customer.address.postcode}"
							binding="#{postcode}" required="true"
							requiredMessage="Please enter postcode. "
							validatorMessage="Please enter a postcode between 0200 and 4700">
							<f:convertNumber integerOnly="true" />
							<f:validateLongRange minimum="200" maximum="4700" />
						</h:inputText><br /> <h:message for="postcode"
							class="#{!postcodeb.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!name.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Name:</td>

					<td valign="bottom"><h:inputText id="name"
							value="#{customerController.customer.name}" required="true"
							requiredMessage="Please enter customer name. "
							validatorMessage="The number of letter must no less than 3 and no large than 9"></h:inputText><br />
						<h:message for="name"
							class="#{!name.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!numberOforder.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Number Of Order:</td>

					<td valign="bottom"><h:inputText id="numberOfOrders"
							value="#{customerController.customer.numberOfOrders}"
							required="true" requiredMessage="Please enter number of orders. "
							validatorMessage="The number of orders must larger than 1 and less than 99999">
							<f:validateLongRange minimum="1" />
						</h:inputText><br /> <h:message for="numberOfOrders"
							class="#{!numberOfOrders.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!email.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Email:</td>

					<td valign="bottom"><h:inputText id="email"
							value="#{customerController.customer.email}" required="true"
							requiredMessage="Please enter the email. "
							validatorMessage="Invalide Email">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</h:inputText><br /> <h:message for="email"
							class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>

				<tr class="#{!typeOfIndustry.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Type Of Industry:</td>

					<td valign="bottom"><h:selectOneMenu id="type"
							value="#{customerController.customer.typeOfIndustry}">
							<f:selectItem itemValue="#{null}" itemLabel="--select--" />
							<f:selectItems value="#{typeManagedBean.allTypes}" var="t"
								itemLabel="#{t.type}" itemValue="#{t.type}" />
						</h:selectOneMenu> <br /> <h:message for="typrOfIndustry"
							class="#{!typeOfIndustry.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>

				<tr class="#{!userType.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">User Type:</td>

					<td valign="bottom"><h:inputText id="userType"
							value="#{customerController.customer.userType}" required="true"
							requiredMessage="Please enter the user type. ">
						</h:inputText><br /> <h:message for="userType"
							class="#{!userType.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!staffId.valid ? 'has-error' : 'none'}">
				<td width="100" valign="top">Staff ID:</td>

				<td valign="bottom"><h:inputText id="staffId"
						value="#{customerController.customer.userId}"
						required="true" requiredMessage="Please enter staff Id. "
						validatorMessage="The User Id must larger than 1">
						<f:validateLongRange minimum="1" />
					</h:inputText><br /> <h:message for="staffId"
						class="#{!staffId.valid ? 'label label-warning' : 'none'}" /></td>
			</tr>
			</table>
			<h:commandButton id="save" value="Save"
				action="#{customerManagedBean.editCustomer(customerController.customer)}"
				class="btn btn-primary">
				<f:param name="customerID" value="#{customerController.customerId}" />
			</h:commandButton>
			<h:link id="close" value="Close" outcome="Customer.xhtml"
				class="btn btn-primary" />
		</h:form>
	</div>
</h:body>
</html>
