<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				User</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>
					<table class="table table-bordered ">
					
						<tr>
							<td><h:outputLabel value="User Name"
									for="User" /></td>
							<td><h:selectOneMenu id="user"
									value="#{groups.userName}" title="User"
									required="true"
									requiredMessage="Please select the User!">
									  <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{usersManagedBean.allUsers}" var="u"  
                                               itemLabel="#{u.userName}" itemValue="#{u.userName}" />
								</h:selectOneMenu><br /> <h:message for="user"
									class="#{!user.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
                    
						
						<tr>
							<td><h:outputLabel value="Group:"
									for="group" /></td>
							<td><h:selectOneMenu id="group"
									value="#{groups.groupName}" title="Group"
									required="true"
									requiredMessage="Please select the group!" >
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItem itemValue="admin" itemLabel = "Admin"/>
									<f:selectItem itemValue="staff" itemLabel = "Staff"/>
								</h:selectOneMenu><br /> <h:message for="group"
									class="#{!group.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addGroup.addGroup(groups)}"
						class="btn btn-primary" />
						
						<h:link id="close" value="Close" outcome="Group.xhtml"
						class="btn btn-primary" />
						

				</h:form>

			</f:view>
		</div>
	</div>

</h:body>
</html>