<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Edit
				Group</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">

				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{groupController.group.groupId}</h:outputLabel>
					</td>
				</tr>
				<tr class="#{!name.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">User Name:</td>

					<td valign="bottom"><h:inputText id="username"
							value="#{groupController.group.userName}" required="true"
							requiredMessage="Please enter user name. "></h:inputText><br />
						<h:message for="username"
							class="#{!username.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				
				<tr class="#{!group.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Group:</td>

					<td valign="bottom"> 
					<h:selectOneMenu id="group" value="#{groupController.group.groupName}" >
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItem itemValue="admin" itemLabel = "Admin"/>
									<f:selectItem itemValue="staff" itemLabel = "Staff"/>
                            </h:selectOneMenu>
                            <br /> <h:message for="group"
							class="#{!group.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				   
			</table>

			<h:commandButton id="save" value="Save" 
				action="#{groupsManagedBean.editGroups(groupController.group)}"
				class="btn btn-primary">
				<f:param name="groupID" value="#{groupController.groupId}" />
			</h:commandButton>
			<h:link id="close" value="Close" outcome="Group.xhtml"
				class="btn btn-primary" />
		</h:form>
	</div>
</h:body>
</html>
