<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<ui:include src="/admin/navigation.xhtml">
</ui:include>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Group
				List</div>
		</div>
		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<!-- For each property in properties ArrayList... -->
				<tr>
					<td><h:outputLabel id="Id" value="Id" /></td>
					<td><h:outputLabel id="username" value="User Name" /></td>
					<td><h:outputLabel id="groupname" value="Group Name" /></td>
				</tr>

				<ui:repeat id="Myrepeat" value="#{groupApplication.groups}"
					var="group" varStatus="status">

					<tr
						onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
						<td><h:outputText
								value="#{groupApplication.groups.get(status.index).groupId}"
								id="groupID" /></td>
						<td><h:outputText id="outName"
								value="#{groupApplication.groups.get(status.index).userName}" /></td>
						<td><h:outputText id="outGroup"
								value="#{groupApplication.groups.get(status.index).groupName}" /></td>
						<td><h:link value="Edit | " outcome="Gedit.xhtml">
								<!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
								<f:param name="groupID"
									value="#{groupApplication.groups.get(status.index).groupId}" />
							</h:link> <h:commandLink value="Delete"
								action="#{removeGroups.removeGroups(groupApplication.groups.get(status.index).groupId)}"
								disabled="#{groupApplication.groups.get(status.index).groupId == null}">
							</h:commandLink> <h:outputText value=" " /></td>

					</tr>

				</ui:repeat>

			</table>

			<div>

				<h:commandButton id="add" value="Add" action="Gadd.xhtml"
					class="btn btn-primary" />

				<h:commandButton id="viewAll" value="View All"
					action="#{searchGroup.searchAll()}" class="btn btn-primary">
					<f:param name="groupID" value="#{status.index + 1}" />
				</h:commandButton>
			</div>
		</h:form>
	</div>
</h:body>
</html>
