<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle}</div>
		</div>

		<h:form id="MyForm">

			<p>Welcome to #{titleController.pageTitle}</p>

			<div>
				<h:commandButton id="customer" value="Customer"
					action="Customer.xhtml" class="btn btn-primary" />
					
				<h:commandButton id="contact" value="Contact Person"
					action="Contact.xhtml" class="btn btn-primary" />
					
				<h:commandButton id="type" value="Type Of Industry"
					action="Type.xhtml" class="btn btn-primary" />
					
					<h:commandButton id="user" value="Users"
					action="Uhome.xhtml" class="btn btn-primary" />

			</div>
			<div>
				<a href="back.xhtml">Log out</a>
			</div>
		</h:form>
	</div>
</h:body>
</html>
