<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
</h:head> 
<body> 
  <a href="home.xhtml">Home |</a>
  <a href="Customer.xhtml">Customer |</a>
  <a href="Contact.xhtml">Contact Person |</a>
  <a href="Type.xhtml">Type Of Industry |</a>
  <a href="Uhome.xhtml">Users |</a>
  <a href="back.xhtml">Log Out</a>

</body> 
</html>
