<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Edit
				Type Of Industry</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">

				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{typeController.type.typeId}</h:outputLabel>
					</td>
				</tr>
				<tr class="#{!tof.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Type Of Industry:</td>

					<td valign="bottom"><h:inputText id="tof"
							value="#{typeController.type.type}" required="true"
							requiredMessage="Please enter the type of industry. "></h:inputText><br />
						<h:message for="tof"
							class="#{!tof.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				   
			</table>

			<h:commandButton id="save" value="Save" 
				action="#{typeManagedBean.editType(typeController.type)}"
				class="btn btn-primary">
				<f:param name="typeID" value="#{typeController.typeId+1}" />
			</h:commandButton>
			<h:link id="close" value="Close" outcome="Type.xhtml"
				class="btn btn-primary" />
		</h:form>
	</div>
</h:body>
</html>
