<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				User</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>
					<table class="table table-bordered ">

						
						<tr class="#{!user.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="User Name" for="user" /></td>
							<td><h:inputText id="user" value="#{users.userName}" 
									title="User" required="true"
									requiredMessage="Please enter the User name!" pt:placeholder="Jet" />
								<br /> <h:message for="user"
									class="#{!user.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!p.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="PassWord" for="p" /></td>
							<td><h:inputText id="p" value="#{users.password}"
									title="P" required="true"
									requiredMessage="Please enter the User password!" pt:placeholder="1562206543da764123c21bd524674f0a8aaf49c8a89744c97352fe677f7e4006" />
								<br /> <h:message for="p"
									class="#{!p.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						
					</table>
					
					<h:commandButton id="submit" value="Submit"
						action="#{addUser.addUser(users)}"
						class="btn btn-primary" />
						
					<h:link id="close" value="Close" outcome="Uhome.xhtml"
						class="btn btn-primary" />
				</h:form>
			</f:view>
		</div>
	</div>
</h:body>
</html>
