<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head >
	<title>Homepage</title>
	
</h:head>
<h:body>
	<h1>#{titleController.pageTitle}</h1>
	<h:outputLink value="faces/admin/home.xhtml">Access Administration</h:outputLink>
	<div><h:outputLink value="faces/staff/home.xhtml">Access Staff</h:outputLink></div>
</h:body>
</html>
