<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Assignment Demo</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">Customer List</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<!-- For each customer in customers ArrayList... -->
				<tr>
					<td><h:outputLabel id="Id" value="Id" /></td>
					<td><h:outputLabel id="FirstName" value="FirstName" /></td>

					<td><h:outputLabel id="LastName" value="LastName" /></td>

				</tr>

				<ui:repeat id="Myrepeat" value="#{ausApplication.customers}"
					var="customer" varStatus="status">

					<tr>
						<td><h:outputText
								value="#{ausApplication.customers.get(status.index).customerID}"
								id="customerID" /></td>

						<td><h:outputText id="firstName"
								value="#{ausApplication.customers.get(status.index).firstName}" />
						</td>
						<td><h:outputText id="lastName"
								value="#{ausApplication.customers.get(status.index).lastName}"></h:outputText>
						</td>
						<td>
						<h:link value="View | " outcome="faces/detail.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>
						</td>
					</tr>
				</ui:repeat>
			</table>

			<div>
				<h:commandButton id="viewAll" value="View All"
					action="#{searchCustomer.searchAll()}" class="btn btn-primary">
				</h:commandButton>
			</div>
		</h:form>
	</div>
</h:body>
</html>
