<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				Customer</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>
					<table class="table table-bordered ">

						<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="streetNumber"
									for="streetNumber" /></td>
							<td><h:inputText id="streetNumber"
									value="#{customer.streetNumber}" title="streetNumber"
									required="true"
									requiredMessage="Please enter the street number!"
									validatorMessage="Please enter a street number between 1 and 1000"
									converterMessage="Please enter a number" pt:placeholder="900">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="1000" />
								</h:inputText> <br /> <h:message for="streetNumber"
									class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="streetAddress" for="streetAddress" />
							</td>
							<td><h:inputText id="streetAddress"
									value="#{customer.streetAddress}" title="streetAddress"
									required="true"
									requiredMessage="Please enter the street address!"
									pt:placeholder="Dandenong Rd" /> <br /> <h:message
									for="streetAddress"
									class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>

						<tr class="#{!suburb.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="suburb" for="suburb" /></td>
							<td><h:inputText id="suburb" value="#{customer.suburb}"
									title="suburb" required="true"
									requiredMessage="Please enter the suburb!"
									pt:placeholder="Caulfield East" /> <br /> <h:message
									for="suburb"
									class="#{!suburb.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!state.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="state" for="state" /></td>
							<td><h:inputText id="state" value="#{customer.state}"
									title="state" size="3" required="true"
									requiredMessage="Please enter the state!" pt:placeholder="VIC" />
								<br /> <h:message for="state"
									class="#{!state.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!postcode.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="postcode" for="postcode" /></td>
							<td><h:inputText id="postcode" value="#{customer.postcode}"
									title="postcode" required="true"
									requiredMessage="Please enter the postcode!"
									validatorMessage="Please enter a postcode between 0200 and 4700"
									converterMessage="Please enter a number" pt:placeholder="3145">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="200" maximum="4700" />
								</h:inputText> <br /> <h:message for="postcode"
									class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>
						<tr class="#{!name.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Name" for="name" /></td>
							<td><h:inputText id="name" value="#{customer.name}"
									title="Name" required="true"
									requiredMessage="Please enter the name!" pt:placeholder="ABC" 
									validatorMessage="The number of letter must no less than 3 and no large than 9"/>
								<br /> <h:message for="name"
									class="#{!name.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr>
							<td><h:outputLabel value="NumberOfOrders:"
									for="numberOfOrders" /></td>
							<td><h:inputText id="numberOfOrders"
									value="#{customer.numberOfOrders}" title="NumberofOrders"
									required="true"
									requiredMessage="Please enter the number of orders!"
									validatorMessage="The number of orders must larger than 1 and less tha 99999"
									converterMessage="Please enter a number" pt:placeholder="1">
									<f:validateLongRange minimum="1" />
								</h:inputText> <br /> <h:message for="numberOfOrders"
									class="#{!numberOfOrders.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr>
							<td><h:outputLabel value="TypeOfIndustry:"
									for="typeOfIndustry" /></td>
							<td><h:selectOneMenu id="typeOfIndustry"
									value="#{customer.typeOfIndustry}" title="TypeOfIndustry"
									required="true"
									requiredMessage="Please select the type of industry!">
									  <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{typeManagedBean.allTypes}" var="t"  
                                               itemLabel="#{t.type}" itemValue="#{t.type}" />
								</h:selectOneMenu><br /> <h:message for="typeOfIndustry"
									class="#{!typeOfIndustry.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!email.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Email" for="email" /></td>
							<td><h:inputText id="email" value="#{customer.email}"
									title="Email" required="true"
									requiredMessage="Please enter the email!"
									pt:placeholder="ABC@gmail.com"
									validatorMessage="Invalide Email">
							<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></h:inputText> <br /> <h:message
									for="email"
									class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!userType.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="Usertype" for="userType" /></td>
							<td><h:inputText id="userType" value="#{customer.userType}"
									title="UserType" required="true"
									requiredMessage="Please enter the user type!"
									pt:placeholder="personal" /> <br /> <h:message for="userType"
									class="#{!userType.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						
					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addCustomer.addCustomer(customer,userApplication.getUserByName(usersManagedBean.userName).userId)}"
						class="btn btn-primary" />
					<h:link id="close" value="Close" outcome="Customer.xhtml"
						class="btn btn-primary" />

				</h:form>

			</f:view>
		</div>
	</div>

</h:body>
</html>
