<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Contact Person Details
                </div>
            </div>
            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.conactPersonId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{contactController.contact.name}</h:outputLabel>
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Gender::</td>

                        <td valign="bottom">
                            <h:outputLabel id = "gender" >#{contactController.contact.gender}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNumber" >#{contactController.contact.phoneNumber}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{contactController.contact.email}</h:outputLabel>
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Address:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{contactController.contact.address}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Customer : </td>
                         <td valign="bottom">
                            <h:outputLabel id = "customer" >#{contactController.contact.customer.toString()}</h:outputLabel>
                        </td>
                        <td valign="bottom">
                        </td>
 
                    </tr>
                 </table>
                <a href="javascript:history.go(-1);">Close</a>
                
            </h:form>
        </div>
    </h:body>
</html>
