<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Edit
				Customer</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">

				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{contactController.contact.conactPersonId}</h:outputLabel>
					</td>
				</tr>
				<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Street Number:</td>

					<td valign="bottom"><h:inputText id="streetNumber"
							value="#{contactController.contact.address.streetNumber}"
							binding="#{streetNumber}" required="true"
							requiredMessage="Please enter the street number!"
							validatorMessage="Please enter a street number between 1 and 1000"
							converterMessage="Please enter a street number">
							<f:convertNumber integerOnly="true" />
							<f:validateLongRange minimum="1" maximum="1000" />
						</h:inputText><br /> <h:message for="streetNumber"
							class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Street Address:</td>

					<td valign="bottom"><h:inputText id="streetAddress"
							value="#{contactController.contact.address.streetAddress}"
							binding="#{streetAddress}" required="true"
							requiredMessage="Please enter Street Address! "></h:inputText><br />
						<h:message for="streetAddress"
							class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!state.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">State:</td>

					<td valign="bottom"><h:inputText id="state"
							value="#{contactController.contact.address.state}"
							binding="#{state}" required="true"
							requiredMessage="Please enter state. "></h:inputText><br /> <h:message
							for="states"
							class="#{!state.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!suburb.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Suburb:</td>

					<td valign="bottom"><h:inputText id="suburb"
							value="#{contactController.contact.address.suburb}"
							binding="#{suburb}" required="true"
							requiredMessage="Please enter suburb. "></h:inputText><br /> <h:message
							for="suburb"
							class="#{!suburb.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				<tr class="#{!postcode.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Postcode:</td>

					<td valign="bottom"><h:inputText id="postcode"
							value="#{contactController.contact.address.postcode}"
							binding="#{postcode}" required="true"
							requiredMessage="Please enter postcode. "
							validatorMessage="Please enter a postcode between 0200 and 4700">
							<f:convertNumber integerOnly="true" />
							<f:validateLongRange minimum="200" maximum="4700" />
						</h:inputText><br /> <h:message for="postcode"
							class="#{!postcodeb.valid ? 'label label-warning' : 'none'}" />
					</td>
				</tr>
				<tr class="#{!name.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Name:</td>

					<td valign="bottom"><h:inputText id="name"
							value="#{contactController.contact.name}" required="true"
							requiredMessage="Please enter customer name. "></h:inputText><br />
						<h:message for="name"
							class="#{!name.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>

				<tr class="#{!email.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Email:</td>

					<td valign="bottom"><h:inputText id="email"
							value="#{contactController.contact.email}" required="true"
							requiredMessage="Please enter the email. "
							validatorMessage="Invalide Email">
							<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</h:inputText><br /> <h:message for="email"
							class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>

				<tr class="#{!gender.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Gender:</td>

					<td valign="bottom"><h:inputText id="gender"
							value="#{contactController.contact.gender}" required="true"
							requiredMessage="Please enter the gender. ">
						</h:inputText><br /> <h:message for="gender"
							class="#{!gender.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>

				<tr class="#{!phoneNumber.valid ? 'has-error' : 'none'}">
					<td width="100" valign="top">Phone Number:</td>

					<td valign="bottom"><h:inputText id="phoneNumber"
							value="#{contactController.contact.phoneNumber}" required="true"
							requiredMessage="Please enter the phone number. "
							validatorMessage="Invalide Phone Number"
							>
						<f:validateLength minimum="9" maximum = "14" />	
						</h:inputText><br /> <h:message for="phoneNumber"
							class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" /></td>
				</tr>
				 <tr>
                        <td width ="100" valign="top">Customer :</td>
                        <td>
                            <h:selectOneMenu id="customer" value="#{contactController.contact.customer}" converter = "customer">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{contactManagedBean.allCustomers}" var="c"  
                                               itemLabel="#{c.toString()}" itemValue="#{c}" />
                            </h:selectOneMenu>
                        </td>
                    </tr>    
			</table>

			<h:commandButton id="save" value="Save" 
				action="#{contactManagedBean.editContact(contactController.contact)}"
				class="btn btn-primary">
				<f:param name="contactID" value="#{contactController.contactId}" />
			</h:commandButton>
			<h:link id="close" value="Close" outcome="Contact.xhtml"
				class="btn btn-primary" />
		</h:form>
	</div>
</h:body>
</html>
