<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
</h:head> 
<body onload = "#{userApplication.users}"> 
  <a href="home.xhtml">Home |</a>
  <a href="Customer.xhtml">Customer |</a>
  <a href="Contact.xhtml">Contact Person |</a>
  <h:link value="Edit Password| " outcome="Uedit.xhtml">
	<f:param name="userID" value="#{userApplication.getUserByName(usersManagedBean.userName).userId}" />
 </h:link>
  <a href="back.xhtml">Log Out</a>
</body> 
</html>
